 /* This is for Blog */
 .card:hover{
    box-shadow: 5px 5px 20px 0px rgba(66, 68, 90, 1);
    transform: scale(1);
    
    transition: all 0.5s;
  }
  .card{
    overflow: hidden;
  }
  .card:hover .blog-img{
    transform: scale(1.1) rotate(2deg);
    transition: all ease-in-out 0.25s;
    

  }